body {
  background-image: url("https://thumbs.dreamstime.com/b/dream-catcher-abstract-bokeh-background-63781665.jpg");

  background-size: cover;

  background-repeat: no-repeat;
  color: rgb(245, 243, 243);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  background: rgba(108, 74, 182, 0.435);
  background-size: cover;
}
.header-logo {
  border-radius: 50%;
  padding: 0.5rem;
  height: 100px;
  width: 100px;
  box-shadow: 0 2rem 6rem var(--color-yellow);
}

.header-btn {
  width: 120px;
  height: 70px;
  font-size: 17px;
  color: #fff;
  margin-right: 1rem;
  text-align: center;
  border: none;
  padding: 1rem;
  background-color: black;
  box-shadow: 0 2rem 6rem var(--color-yellow);
  border-radius: 10px;
}

.header-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 4rem 8rem var(--color-yellow);
}
.header-btn:active {
  transform: translateY(0);
}

.navbar-box {
  padding: 1rem;
  background: rgba(108, 74, 182, 0.435);
  font-size: 2rem;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}

.main-content {
  text-align: center;
  padding: 0.4rem;
  background: rgba(108, 74, 182, 0.435);
  background-size: cover;
  font-size: 1.5rem;
}

.result {
  position: absolute;
  border-radius: 50px;
  margin-top: 25px;
  margin-left: 28%;
  width: 44%;
  background: white;
  min-height: 250px;
  color: black;
}

.navbar-items:hover {
  background-color: rgb(113, 158, 227);
}

.navbar-items:active {
  background-color: #7b71db;
  box-shadow: 0 5px rgb(77, 118, 206);
  transform: translateY(4px);
}

.navbar-items {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #f4f4f4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(135, 143, 230);
}
