@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");

:root {
  --color-primary: #6c4ab6;
  --color-secundary: #8d72e1;
  --color-tersiary: #8d9eff;
  --color-fourtiary: #b9e0ff;

  --color-yellow: #ffff00;
  --box-shadow: 0 2rem 6rem var(--color-yellow);
}

body {
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

.h-100 {
  height: 100vh;
}
